.spin-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000020;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--spin-active-zindex);
}
.no-spin {
    display: none;
}